* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

@font-face {
    font-family: 'Adoha';
    src: url('fontsDump/Adoha.otf') format('opentype');
}

@font-face {
    font-family: 'Alata';
    src: url('fontsDump/Alata-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Bemirs';
    src: url('fontsDump/BemirsDemoVersionRegular-L360Z.ttf') format('truetype');
}

.header {
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
}

nav {
    display: flex;
    padding: 0% 4%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 130px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul{
    gap: 100px;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 14px;
    position: relative;
    
}

.nav-links ul li a {
    width: 100%; 
    height: 100%;
    color: #344546; 
    font-size: 24px;
    font-family: Alata;
    font-weight: 400;
    word-wrap: break-word;
    text-decoration: none;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #377c56;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 40px;
    font-family: 'Bemirs';
}

.text-box p {
    margin: 0 0 20px; /* Adjusted margin */
    font-size: 30px;
    color: #000000;
    margin-bottom: 20px;
}



.TitlesWhiteBG {
    color: #0F2521;
    font-size: 96px;
    font-family: Adoha,sans-serif;
    font-weight: 400;
    word-wrap: break-word;

}

.TitlesDarkBG{
    color: #F8F5EE;
    font-size: 96px;
    font-family: Adoha;
    font-weight: 400;
    word-wrap: break-word;
}

.ContentWhiteBG{
    color: #0D201D;
    font-size: 32px;
    font-family: Alata;
    font-weight: 400;
    word-wrap: break-word;
    margin-top: 20px;
    overflow-x: hidden;
    text-align: justify;
}

.ContentDarkBG{
    color: #F8F5EE;
    font-size: 32px;
    font-family: Alata;
    font-weight: 400;
    word-wrap: break-word;

}

    

.WeAreColor{
    color: #0F2521;
    font-size: 48px;
    font-family: Bemirs;
    font-weight: 550;
    word-wrap: break-word
}



nav .fa{
    display: none;
}
@media(max-width: 700px){
    .text-box h1 {
    font-size: 30px;
}
.nav-links ul li{
    display: block;
}
.nav-links{
    position: absolute;
    background: #377c56;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
}
nav .fa{
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
}
nav-links ul{
    padding: 30px;
}

}

.mainBack{
    background : #F8F5EE;
}


.greenUnderline {
    width: 163px;
    height: 10px;
    background: #84A98C;
    margin-top: 20px; /* Adjust as needed */
}

.greenBackground {
    width: 1920px;
    height: 980px; 
    left: 0px; 
    background: #344546
}

.carousel{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}